### General Packages ###
black
joblib
requests
pip-tools
pytest

numpy
scipy
pandas
scikit-learn
statsmodels

### Testing ###
pytest
ipdb

### Plotting ###
matplotlib
seaborn

### Jupyter ###
jupyterlab
jupyter-book
ghp-import


