dev
bayescp/__pycache__/__init__.cpython-310.pyc
bayescp.egg-info/dependency_links.txt
bayescp.egg-info/PKG-INFO
bayescp.egg-info/SOURCES.txt
bayescp.egg-info/top_level.txt
external_resources
external_resources/mBPCR.zip
external_resources/mBPCR/CONTENTS
external_resources/mBPCR/DESCRIPTION
external_resources/mBPCR/INDEX
external_resources/mBPCR/mBPCR.R
external_resources/mBPCR/data/jekoChr11Array250Knsp.dat
external_resources/mBPCR/data/rec10k.dat
external_resources/mBPCR/html/00Index.html
external_resources/mBPCR/html/computeMBPCR.html
external_resources/mBPCR/html/estGlobParam.html
external_resources/mBPCR/html/estProfileWithMBPCR.html
external_resources/mBPCR/html/importCNData.html
external_resources/mBPCR/html/logAdd.html
external_resources/mBPCR/html/mBPCR-internal.html
external_resources/mBPCR/html/plotEstProfile.html
external_resources/mBPCR/html/printEstProfile.html
external_resources/mBPCR/R-ex/computeMBPCR.R
external_resources/mBPCR/R-ex/estGlobParam.R
external_resources/mBPCR/R-ex/estProfileWithMBPCR.R
external_resources/mBPCR/R-ex/importCNData.R
external_resources/mBPCR/R-ex/logAdd.R
external_resources/mBPCR/R-ex/plotEstProfile.R
external_resources/mBPCR/R-ex/printEstProfile.R

bayescp/estimator/__pycache__
