### General Packages ###
python
setuptools
ipython
pip
black
joblib
requests
tqdm

numpy
cython
scipy
pandas
scikit-learn
statsmodels

jupyterlab

### Testing ###
pytest
ipytest
ipdb

### Plotting ###
matplotlib
seaborn

